.logo {
  width: 180px;
  height: 24px;
  padding-right: 60px;
}
.menu {
  display: flex;
}
.mobile-navbar {
  display: none;
}
.menu li {
  list-style: none;
  margin-left: 10px;
  font-weight: 600;
  overflow: hidden;
  border: 3px solid transparent;
}
.menu li:hover {
  color: rgb(92, 135, 200);
  text-decoration-color: rgb(44, 63, 167);
  cursor: pointer;
  border-bottom: 3px solid rgb(44, 63, 167);
}
.navbar {
  display: flex;
  width: 100%;
  height: 80px;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(188, 188, 188);
}
.booking {
  border-radius: 25px;
  margin-left: 3em;
  margin-right: 3em;
  text-transform: uppercase;
  padding: 0.5em 1.8em;
  border: 1px solid rgb(94, 117, 196);
  color: rgb(94, 117, 196);
  font-weight: 700;
  cursor: pointer;
  background-color: white;
}
.function-icon {
  width: 2%;
  height: 35%;
  padding: 0 5px;
}
.cart-lable {
  font-size: 0.6rem;
  padding: 0 4px;
  color: #fff;
  background-color: black;
  border-radius: 50%;
  vertical-align: top;
  margin-left: -18px;
  margin-top: 18px;
}

@media (max-width: 1087px) {
  .navbar .menu,
  .booking,
  .logo {
    display: none;
  }
  .function-icon-search,
  .function-icon-user,
  .function-icon-cart,
  .cart-lable {
    display: none;
  }
  .mobile-navbar {
    display: flex;
    flex-direction: column;
  }
  .navbar {
    height: 20px;
    box-shadow: 0px 12px 10px #888888;
  }
  .mobile-booking {
    display: flex;
    justify-content: center;
    border-radius: 25px;
    margin-top: 2px;
    margin-left: 35%;
    margin-right: 10px;
    text-transform: uppercase;
    padding: 0.5em 4em;
    border: 1px solid rgb(94, 117, 196);
    color: rgb(94, 117, 196);
    font-weight: 700;
    cursor: pointer;
    background-color: white;
  }
  .mobile-title-background {
    background-color: rgb(44, 63, 167);
    height: 40px;
  }
  .mobile-logo {
    width: 60%;
    display: flex;
    margin-left: 20%;
    margin-top: -35px;
    margin-bottom: -5%;
  }
  .burger-icon {
    display: inline-block;
    height: 30px;
    margin-top: 35px;
    margin-left: 20px;
  }
  .mobile-cart {
    width: 6%;
    display: inline-block;
    margin-left: 90%;
  }
  .mobile-cart-lable {
    font-size: 0.6rem;
    padding: 0 4px;
    color: #fff;
    background-color: black;
    border-radius: 50%;
    /* vertical-align: top; */
    margin-left: -15px;
    margin-top: auto;
  }
}
@media (max-width: 600px) {
  .mobile-booking {
    margin-left: 30%;
  }
  @media (max-width: 500px) {
    .mobile-booking {
      margin-left: 27%;
    }
  }
}
